<p>Dear <%= USERNAME %>,</p>
<p>Welcome to Batter Jobs! We are excited to have you join our community of web enthusiasts and experts. Your account has been successfully registered, and you can now access our <a href="<%= APP_URI %>"><%= APP_NAME %></a>.
<p>Here are your account details:</p>
<p><strong>Username:</strong> <%= USERNAME %></p>
<p><strong>Password:</strong> <%= Password %></p>
<p>Thank you for choosing Batter Jobs. We look forward to helping you achieve your goals!</p>
<p>Best regards,</p>
<p>The <%= APP_NAME %> Team</p>